@charset "UTF-8";

@mixin disabled-variant($switch:true,$with-shadow:true) {
	@if $switch == true {
	    cursor: not-allowed;
	    pointer-events: none;
		@if $with-shadow == true {
		    -webkit-box-shadow: none;
		    box-shadow: none;
		}
	}
}
